.background {
  //background: url("../assets/images/main_bg_v2_width.jpg") no-repeat;
  background: linear-gradient(to right top, #f0f7fa, #7AB3CE);
  background-attachment: fixed;
  background-size: cover;
  //background: red;
}

.frost-glass {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.d-flex {
  display: flex;
}

.no-bg {
  background: none !important;
}
