@font-face {
  font-family: Comforta;
  src: url("../assets/fonts/Comforta.ttf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  font-family: Comforta, Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
  color: #282728;
}
body {
  display: flex;
}

#root {
  @extend .full-space;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.2em;
  padding-bottom: 0.7em;
  @extend .background;
}

.layout-autosizer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.layout-container {
  height: 100%;
  width: 100%;
  max-width: 1150px;
  //margin: 0 17%;
  margin: 0 17% 0 16%;
  max-height: 100%;
  padding: 0;
  min-width: 580px;
  @extend .frost-glass;
  //@extend .with-shadow;
  @extend .box-shadow4-right;
  overflow: hidden;

  &__data {
    padding: 0;
    overflow: auto;
    @extend .full-space;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }

  .main-header {
    position: relative;
    height: 75px;
    flex: 0 0 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //padding: 0 0.5em 0 1.75em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    @extend .frost-glass;
    background: rgba(255, 255, 255, 0.25);

    /*&__separator {
      border-bottom: 0.5px solid rgb(177, 177, 177);
      position: absolute;
      bottom: 0;
      left: 2.5em;
      right: 2.5em;
    }*/
  }

  .content {
    //margin: 0 1.5em;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    &__data {
      //padding: 0.5em 1.2em 0 0;
      flex: 1;
      display: flex;
      flex-direction: column;

      .header {
        margin-top: 0.2em;
        color: #282728;
      }

      &-body {
        display: flex;
        flex-direction: column;
        position: relative;
        flex: 1;
        margin-top: 18px;
        margin-bottom: 10px;
        .main-list {
          & > div[role="grid"] {
            //overflow: visible !important;
            outline: none;
            & > div[role="rowgroup"] {
              //overflow: visible !important;

              .list-row {
                display: flex;
                align-items: end;
                margin-top: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    #root {
      padding: 0;
      .layout-container {
        width: 100%;
        min-width: 100%;
        box-shadow: none;
        margin: 0;
      }
    }
  }
}
